<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JZLocationConverter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JZLocationConverterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B836FEE31F4DB4B300296412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B836FF1C1F4DB7BC00296412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B836FF401F4E6CBF00296412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8F5FC9F1F20B5BB0097F290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
